_site
.jekyll-cache
.ruby-lsp
.sass-cache
.jekyll-metadata
Gemfile.lock
assets/images/2017-02-28/gallery
assets/images/2018-02-13/gallery
assets/images/2019-03-05/gallery
assets/images/2020-02-25/gallery
assets/images/2023-02-21/gallery
assets/images/2024-02-13/gallery
assets/images/2025-03-04/gallery